#detail {
  width: 60%;
  margin: 50px 20% 30px 20%;
}

.detail-book {
  width: 100%;
  height: 450px;
  position: relative;
  border-bottom: 2px solid blueviolet;
}

#detail img {
  width: 30%;
  height: 400px;
  float: left;
}

#detail .book-data {
  width: 60%;
  height: 400px;
  float: right;
}

#detail .review {
  width: 100%;
}

.book-data div {
  width: 100%;
  height: 10%;
  margin-top: 15px;
}

.book-data div:last-child {
  width: 100%;
  height: 35%;
  overflow-y: scroll;
}

#detail .book-btn {
  width: 100%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#detail .book-btn button {
  width: 15%;
  height: 30px;
  margin-right: 20px;
  float: right;
  background-color: blueviolet;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  border: none;
}

#detail .book-btn button:hover {
  background-color: skyblue;
}

.review {
  width: 100%;
  position: relative;
}

.review h5 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 2px solid blueviolet;
  margin-bottom: 30px;
}

.review > button {
  position: absolute;
  top: 40px;
  right: 10px;
  width: 10%;
  border: 2px solid blueviolet;
  background-color: white;
  color: blueviolet;
  cursor: pointer;
}

.review > button:hover {
  font-weight: bold;
}
