#shopcart {
  width: 100%;
}

#shopcart h2 {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
#shopcart h5 {
  width: 100%;
  height: 30px;
  line-height: 50px;
  text-align: center;
}

#shopcart .cartsub {
  width: 60%;
  margin: 10px 20% 10px 20%;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-top: 1px solid blueviolet;
  border-bottom: 1px solid blueviolet;
}

.cartsub .subtext {
  width: 70%;
  float: left;
  text-align: center;
  font-weight: bold;
}
.cartsub .subbtn {
  width: 30%;
  float: right;
  text-align: center;
}
.cartsub .subbtn button {
  width: 35%;
  height: 30px;
  color: aliceblue;
  background-color: blueviolet;
  cursor: pointer;
  border: none;
  font-size: 0.6em;
}
.cartsub .subbtn button:hover {
  background-color: skyblue;
}

#cartbook {
  width: 23%;
  background-color: rgb(229, 221, 236);
  height: 260px;
  float: left;
  margin-left: 1.6%;
  position: relative;
  margin-bottom: 10px;
}

#cartbook h6 {
  position: relative;
  width: 100%;
  height: 25px;
  margin-top: 5px;
  text-align: center;
  line-height: 25px;
  font-size: 0.65em;
}

#cartbook img {
  width: 40%;
  margin: 10px 5% 10px 5%;
  height: 210px;
  float: left;
}

#cartbook .carttext {
  width: 40%;
  margin: 10px 5% 10px 5%;
  float: right;
  font-size: 0.7em;
}

#cartbook .carttext div {
  line-height: 30px;
}

.cart-pm button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background-color: rgb(233, 195, 233);
  cursor: pointer;
}

.cart-btn {
  position: absolute;
  width: 50%;
  height: 30px;
  bottom: 5px;
  right: 5px;
  text-align: center;
}

.cart-btn button {
  margin-right: 5%;
  margin-left: 5%;
  background-color: rgb(233, 195, 233);
  border: none;
  width: 30px;
  height: 20px;
  font-size: 0.9em;
  cursor: pointer;
}

.cart-btn button:hover,
.cart-pm button:hover {
  background-color: skyblue;
}

@media screen and (max-width: 1000px) {
  #cartbook {
    width: 31%;
  }
}

@media screen and (max-width: 750px) {
  #cartbook {
    width: 47.5%;
  }
  #shopcart .cartsub {
    width: 80%;
    margin: 10px 10% 10px 10%;
  }
  .cartsub .subbtn button {
    width: 40%;
    height: 30px;
    font-size: 0.6em;
  }
}

@media screen and (max-width: 500px) {
  #cartbook {
    width: 97%;
  }
  #shopcart .cartsub {
    width: 95%;
    margin: 10px 2.5% 10px 2.5%;
    font-size: 0.65em;
  }
  .cartsub .subbtn button {
    width: 60%;
    height: 30px;
  }
}
