#rev-form h1 {
  width: 100%;
  height: 120px;
  line-height: 120px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 2.5em;
}

#revs {
  width: 60%;
  margin: 0 20% 0 20%;
}

#rev-form .rev-form-id,
#rev-form .rev-form-book,
#rev-form .rev-form-rating {
  width: 30%;
  margin-left: 2.5%;
  height: 70px;
  display: inline-block;
  line-height: 70px;
  text-align: center;
}

#rev-form .rev-form-com textarea {
  margin: 0 20% 0 20%;
  width: 60%;
  height: 100px;
}

#rev-form .rev-form-btn {
  width: 20%;
  margin: 30px 40% 0 40%;
  height: 50px;
  color: black;
  background-color: skyblue;
  border: skyblue 1px solid;
  border-radius: 15px;
  font-size: 1.5em;
}

#rev-form .rev-form-btn:hover {
  color: whitesmoke;
  background-color: rgb(196, 196, 242);
  border: whitesmoke 1px solid;
}
